* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgba(219, 214, 214, 0.664);
  font-family: Arial, Helvetica, sans-serif;
}
.top-section {
  width: 100%;
  height: 55px;
  background-color: #121310;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.title-section {
  margin-left: 10%;
  color: #ffdb0d;
  text-shadow: -1px 1px 4px rgba(0,0,0,0.47);
}
.informations {
  display: flex;
  gap: 30px;
  margin-left: 65%;
  margin-right: 60px;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}
.topics_container {
  width: 100%;
  height: 250px;
  gap: 10px;
  background-color: #ffbf00bb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.topics_container h1 {
    text-shadow: -1px 1px 4px rgba(0,0,0,0.47);
}
.contact_container {
  width: 65%;
  padding: 30px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: white;
  text-align: justify;
  border-radius: 8px;
}
.contact_container p {
  font-size: 14px;
  color: #3e3e3e;
  margin-top: 20px;
}
.contact {
  display: flex;
  align-items: center;
  border-bottom: 3px solid #ffdb0d;
  padding-bottom: 8px;
  gap: 10px;
}